<%= content_for(:title, "Edit Comment") %>
<div class="row">
	<div class="form-group col-md-6 col-md-offset-1 side-bar-right">
		<%= render :partial =>"posts/post", locals: {post: @post} %>
		<% if !@comments.nil? %>
			<%= render @comments %>
		<% end %>
	</div>

	<div class="form-group col-md-3 col-md-offset-1">
	<h3>Edit your comment...</h3>
	<%= form_for [@comment], html: {id: "edit_comment_form"} do |f| %>
	<% if @comment.errors.any? %>
				    <div id="error_explanation">
				      <h4>
				        <%= pluralize(@comment.errors.count, "error") %> prohibited
				        this comment from being saved:
				      </h4>
				      <ul>
				        <% @comment.errors.full_messages.each do |msg| %>
				          <li><%= msg %></li>
				        <% end %>
				      </ul>
				    </div>
				    <% end %>
	<%= f.text_area :body, required: true, placeholder: "Care to comment?", class: 'form-control comment-box' %> 
	<%= f.submit class: "btn btn-primary" %>

		<% end %>
	</div>
</div>
