<%= content_for(:title, "Contact") %>
<h1>Contact Us</h1>

<div class="row">
	<div class="col-md-10 col-md-offset-1 contact-info">
		<p>Contact the team if you have experience any issues, or have any questions, comments, or complaints. </br> We're always listening to ensure our leap has the best experience possible!</p>
	</div>
</div>

<div class="row team-names">
	<div class="col-md-6 team-members">
		<div>
			<b>
				<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Ashley Packard - Team Lead Guru</a>
			</b>
		</div>
		<div class="profile-pics">
			<%= image_tag "ashley-profile.jpg" %>
		</div>
	</div>	

	<div class="col-md-6 team-members">
		<div>
			<b>
				<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Mike Kucharski - Back End Guru</a>
			</b>
		</div>
		<div class="profile-pics">
			<%= image_tag "mike-profile.jpg" %>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-md-6 team-members">
		<div>
			<b>
				<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Brian Conway - Database Guru</a>
			</b>
		</div>
		<div class="profile-pics">
			<%= image_tag "brian-profile.jpg" %>
		</div>
	</div>

	<div class="col-md-6 team-members">
		<div>
			<b>
				<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Tom Lisi - Front End Guru</a>
			</b>
		</div>

		<div class="profile-pics">
			<%= image_tag "tom-profile.jpg" %>
		</div>
	</div>
</div>

