<%= content_for(:title, "Settings") %>
<h1>Account Settings</h1>
<% if @account.errors.any? %>
	<div id="error_explanation">
		<h4>
			<%= pluralize(@account.errors.count, "error") %> prohibited
			this account from being saved:
		</h4>
		<ul>
			<% @account.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="row">
	<div class="form-group col-md-6 right-border">
		<%= form_for @account, html: { id: "sign_up_form", autocomplete: 'off'} do |f| %>
			<%= f.label :first_name, 'First Name: ' %>
			<%= f.text_field :first_name, required: true, placeholder: "Joe", class: "form-control" %>
			<%= f.label :last_name, 'Last Name: ' %>
			<%= f.text_field :last_name, required: true, placeholder: "Smith", class: "form-control" %>
			<%= f.label :email, 'Email: ' %>
			<%= f.text_field :email, readonly: true, class: "form-control" %>
			<%= f.label :description, 'Bio: ' %>
			<%= f.text_area :description, placeholder: "Add something about yourself...", class: "form-control" %>
			<div class="submit_container">
				<%= button_tag(type: 'submit', class: "btn btn-default short_btn") do %>
					 <i class="glyphicon glyphicon-wrench"></i> Update Account
				<% end %>
			</div>
		<% end %>

		<h2>Change Password</h2>
		<%= form_for @account, html: { id: "sign_up_form"}, url: update_password_account_path(@account) do |f| %>
			<%= f.label :password, 'New Password: ' %>
			<%= f.password_field :password, required: true, placeholder: "New Password", class: "form-control" %>
			<%= f.label :password_confirmation, 'Confirm New Password: ' %>
			<%= f.password_field :password_confirmation, required: true, placeholder: "New Password Again", class: "form-control" %>
			<div class="submit_container">
				<%= button_tag(type: 'submit', class: "btn btn-default short_btn") do %>
					 <i class="glyphicon glyphicon-cog"></i> Change Password
				<% end %>	
			</div>
		<% end %>
	</div>

	<div class="col-md-6">
		<h3>Choose your categories</h3>
		<div>
			<%= form_for @account, html: { id: "category_select"}, url: update_categories_account_path(@account) do |f| %>
				<% @categories.each do |c| %>
					<%= label_tag condenseCategoryName(c.name) do %>
						<div class="row">
							<div class="col-md-1"><%= check_box_tag "categories[]", c.id, @account.categories.include?(c), id: condenseCategoryName(c.name) %></div>
							<div class="col-md-1"><%= image_tag "#{condenseCategoryName(c.name)}.png", class: "preferred-category-symbol" %></div>
							<div class="col-md-10"><%= c.name %></div>
						</div>
					<% end %>				
				<% end %>
				<div class="submit_container">
					<%= button_tag(type: 'submit', class: "btn btn-default short_btn") do %>
						 <i class="glyphicon glyphicon-heart"></i> Update Categories
					<% end %>
				</div>
			<% end %>
		</div>
	</div> <!-- end col-md-6 -->
</div> <!-- row -->

<div id="delete_container">
	<h3>Delete your account</h3>
	<p>We're sorry to see you go! Please tell us why you no longer want an account:</p>
	<p> leapup-accounts@gmail.com</p>
	<%= link_to 'Delete Forever', account_path(@account), class: "btn btn-danger short_btn", method: :delete, data: {confirm: "Are you sure?"} %>
</div> <!-- end delete_container -->
