<%= content_for(:title, "Settings") %>
<h1>Account Settings</h1>
<div class="row">
	<div class="form-group col-md-6" id="edit_form">
		<%= form_for @account, html: { id: "sign_up_form"} do |f| %>
			<% if @account.errors.any? %>
				<div id="error_explanation">
					<h4>
						<%= pluralize(@account.errors.count, "error") %> prohibited
						this account from being saved:
					</h4>
					<ul>
						<% @account.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<%= f.label :first_name, 'First Name: ' %>
			<%= f.text_field :first_name, placeholder: "Joe", class: "form-control" %>
			<%= f.label :last_name, 'Last Name: ' %>
			<%= f.text_field :last_name, placeholder: "Smith", class: "form-control" %>
			<%= f.label :email, 'Email: ' %>
			<%= f.text_field :email, readonly: true, class: "form-control" %>
			<%= f.label :description, 'Bio: ' %>
			<%= f.text_area :description, placeholder: "Add something about yourself...", class: "form-control" %>

			<div id="submit_container">
				<%= f.submit class: "btn btn-primary", id: "sign_up_btn" %>	
			</div>
		<% end %>

		<h2>Change Password</h2>
		<%= form_for @account, html: { id: "sign_up_form"} do |f| %>
			<% if @account.errors.any? %>
				<div id="error_explanation">
					<h4>
						<%= pluralize(@account.errors.count, "error") %> prohibited
						this account from being saved:
					</h4>
					<ul>
					<% @account.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
			<% end %>

			<%= f.label :password, 'Password: ' %>
			<%= f.password_field :password, required: true, placeholder: "Password", class: "form-control" %>
			<%= f.label :password_confirmation, 'Confirm Password: ' %>
			<%= f.password_field :password_confirmation, required: true, placeholder: "Password Again", class: "form-control" %>
		
			<div id="submit_container">
				<%= f.submit "Change Password", class: "btn btn-primary", id: "sign_up_btn" %>	
			</div>
		<% end %>
	</div>

	<div class="col-md-6" id="delete_container">
		<h3>We're sorry to see you go!</h3>
		<%= link_to 'Delete Your Account', account_path(@account), class: "btn btn-danger",
		method: :delete,
		data: {confirm: "Are you sure?"} %>
	</div>
</div>
