<h1><%= "#{@current_account.first_name} #{@current_account.last_name}" %></h1>

<div class="row">
	<div class="col-md-6">
		<h3>Your recent posts</h3>
		<% if @recent_posts.any? %>
			<%= render @recent_posts %>
		<% else %>
			<i>You do not have any posts yet! Why don't you make your first <%= link_tag "post", new_account_post_path(current_account) %>?</i>
		<% end %>
	</div>

	<div class="col-md-6">
		<h3>Posts that interest you</h3>
		<% if @related_posts.any? %>
			<%= render @related_posts %>
		<% else %>
			<i> No posts to show. Make sure to set up your preferred categories in your <%= link_to "account settings", edit_account_path(current_account) %>.</i>
		<% end %>
	</div>
</div>

