<%= content_for(:title, "About") %>
<h1><%= "#{@account.first_name} #{@account.last_name}" %></h1>
<h5><%= "#{@account.email}" %></h5>
<div class="row">
	<div class="col-md-6">
		<h3><b>Bio</b></h3>
		<p>
		<% if @account.description.blank? %>
			<i>This user has not yet entered a bio.</i>
		<% else %>
			<%= @account.description %>
		<% end %>
		</p>

		<%= render @posts_list %>
	</div>

	<div class="col-md-6">
		<h3><b>Interests</b></h3>
		<ul>
			<% if @category_list.empty? %>
				<i>This user has not yet selected any interests.</i>
			<% else %>
				<% @category_list.each do |category| %>
					<li><%= category.name %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<%= will_paginate @posts_list %>