<%= content_for(:title, "Account Profile") %>
<h1><%= "#{@account.first_name} #{@account.last_name}" %></h1>
<h5><%= "#{@account.email}" %></h5>
<div class="row">
	<div class="col-md-4 col-md-offset-1 right-border">
		<h3><b>Bio</b></h3>
		<p>
		<% if @account.description.blank? %>
			<i>This user has not written a bio yet.</i>
		<% else %>
			<%= @account.description %>
		<% end %>
		</p>

		<h3><b>Favorite Categories</b></h3>
		<div>
			<% if @category_list.empty? %>
				<i>This user has no preferred categories.</i>
			<% else %>
				<% @category_list.each do |category| %>
					<div class="row">
						<div class="col-md-2"> <%= image_tag "#{condenseCategoryName(category.name)}.png", class: "preferred-category-symbol" %> </div>
						<div class="col-md-10"> <%= category.name %> </div>
					</div>
				<% end %>
			<% end %>
		</div>

	</div>

	<div class="col-md-6 col-md-offset-1">
			<%= render @posts_list %>
			<%= will_paginate @posts_list %>
	</div>
</div>